<div id="frontpage">
	<div class="main-content">
		<p class="body-large-bold" style="margin-bottom: 10px;">VELKOMMEN</p>
		<p class="body-large">Digitaliseringsmessen bygger bro mellem kommunerne og de bedste leverandører og skaber et forum til at skabe nye visioner for et bedre digitaliseret samfund.</p>
		<br/>
		<p class="body-large">Dette års messe giver dig adgang til over 90 udstillere og præsentationer på 6 forskellige scener.</p>
	</div>
	<div class="bottom-content">
		<div class="table">
			<img ng-src="img/star_green_large.png" width="37px" height="37px" class="star"/>
			<p class="text body-large">Så meget at se, så lidt tid. Planlæg din dag og<br/>undgå panik.</p>
			<img ng-src="img/welcome_hint_arrow.png" width="28px" height="39px" class="arrow"/>
		</div>
	</div>
</div>