<div class="page-header">
	<div class="content-area">
		<div class="text-area">
			<h2>INFORMATION</h2>
		</div>
	</div>
</div>
<div class="page-content overthrow">
	<section>
		<div class="full center">
			<h1>19. september 2013</h1>
		</div>
		<h1>Messen afholdes:</h1>
		<p class="body-large">
			Odense Congress Center</br>
			Ørbækvej 350</br>
			5220 Odense SØ</br>
		</p>
	</section>
	<section>
		<h1>Åbningstider og forplejning:</h1>
		<table class="table-layout">
			<tr>
				<td>09.00-10.30</td>
				<td>Morgenmad serveres og er inkluderet i adgangsbilletten</td>
			</tr>
			<tr>
				<td>09.30</td>
				<td>Messesalene åbner</td>
			</tr>
			<tr>
				<td>10.00</td>
				<td>Messen åbnes officielt fra hovedscenen</br>
					Der serveres gratis kaffe m.m. i messesalene i løbet af dagen</td>
			</tr>
			<tr>
				<td>11.30-13.30</td>
				<td>Frokostbuffeten er åben og er inkluderet i adgangsbilletten</td>
			</tr>
			<tr>
				<td>16.30</td>
				<td>Der serveres en let anretning i Hal A</td>
			</tr>
			<tr>
				<td>17.00</td>
				<td>Messen lukker</td>
			</tr>
			<tr>
				<td>19.00</td>
				<td>Dørene lukker for publikum</td>
			</tr>
		</table>
	</section>
	<section>
		<h1>Parkering:</h1>
		<p class="body-large">Det er gratis at parkere ved OCC.</p>
	</section>
	<section>
		<h1>Offentlig transport:</h1>
		<p class="body-large">Der går bus fra Odense Banegård til OCC. Se køreplaner på:</p>
		</br>
		<a href="http://www.fynbus.dk" target="_system" class="large">www.fynbus.dk</a>
	</section>
	<section>
		<h1>For yderligere information kontakt:</h1>
		<p class="body-large">Sekretariat for Digitaliseringsmessen13</p>
		<br/>
		<p class="body-large">Vitus Bagge Nielsen - <a href="mailto:vtn@kl.dk">vtn@kl.dk</a></p>
		<p class="body-large-bold">2835 6466</p>
		<br/>
		<p class="body-large">Mads Bechgaard - <a href="mailto:msg@kl.dk">msg@kl.dk</a></p>
		<p class="body-large-bold">2835 6466</p>
	</section>
	<section>
		<h1>Alliancepartnere:</h1>
		<div class="partner-images">
			<img ng-src="img/partners/in2media.png" ng-click="openPage('http://www.in2media.dk')" width="71px" height="43px">
			<img ng-src="img/partners/kmd.png" ng-click="openPage('http://www.kmd.dk')" width="100px" height="37px">
			<img ng-src="img/partners/atea.png" ng-click="openPage('http://www.atea.dk')" width="79px" height="21px">
			<img ng-src="img/partners/ms.png" ng-click="openPage('http://www.microsoft.dk')" width="147px" height="31px">
			<img ng-src="img/partners/kombit.png" ng-click="openPage('http://www.kombit.dk')" width="94px" height="20px">
			<img ng-src="img/partners/digistyrelsen.png" ng-click="openPage('http://www.digst.dk/')" width="153px" height="30px">
		</div>
	</section>
</div>
