<div class="input-container">
	<label>
		<select ng-model="selectedStage" ng-options="stage.name for stage in stages">
			<option value="">Alle scener</option>
		</select>
	</label>
</div>
<div class="list-container-with-input overthrow" ng-keep-scroll="StateService.scheduleScrollY">
	<ul>
		<li schedule-list-item class="list-item"
			ng-repeat="item in schedule | filter:stageFilter | orderBy:'start'"
			ng-click="showDetails(item)"></li>
	</ul>
</div>

<div class="spinner-container" ng-hide="schedule != null">
	<div class="spinner"></div>
</div>