doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="viewport" content="user-scalable=false, width=device-width")
    meta(name="robots" content="noindex, nofollow")
    //link(rel="stylesheet", type="text/css", href='css/vendor.min.css')
    link(href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href='css/app.css')
    include ../partials/google_analytics.html
    block head
  body
    include ../partials/header
    block content
    include ../partials/footer


    script(src='js/vendor.min.js')
    script(src='js/app.js')