extends ../layout/page-layout
block head
  title thebuilder
block content
  .container
    section#main_content
      .page-header
        h1 Work
      .list-group
        each item in data
          a.list-group-item(href=item.page)
            h4.list-group-item-heading= item.name
              small= " " + item.type
            p.list-group-item-text
            if item.teaser
              p.list-group-item-text=item.teaser

