extends ../layout/page-layout
block head
  title thebuilder
block content
  .container
    section#main_content
      h2 Welcome to GitHub Pages
      ul
        li
          a(href="flash.html") Flash Projects

