extends ../layout/page-layout
block head
  title thebuilder | projects | swatch
block content
  .container
    .page-header
      h1 Swatch
    section#main_content

      h3 Dance Booth
      p.
        For Swatch i helped create a "Dance Booth" for a popup store in Belfast before MTV EMA.
        It was setup using a touchscreen computer, running an AIR Application. The application would capture you dancing, and allow you to remix it afterwards. After submitting, the new video files would be uploaded and streamed to video displays in front of the store.

      iframe(src="https://player.vimeo.com/video/35504826?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

      h3 Gallery
      include  ../partials/carousel
      +carousel("swatch-gallery", data.swatch.gallery, "800px")

      h3 Snap Dance Wall
      p.
        The Snap Dance Wall would display all the snap dances people recoreded with their iPhone, moving to the beat of Trentemøller.
        This is the original proof of concept demo. The final version that launched on swatch.com was very similar to this, very a few additions that allowed you to view and share each indiviual snap dance.
      img(src="projects/flash/images/swatch/snapdance.jpg", class="img-responsive")
      a.btn.btn-primary.top-margin(href="../../../projects/flash/swatch", target="_blank") Proof of Concept demo
