extends ../layout/page-layout
block head
  title thebuilder | projects | oticon
block content
  .container
    .page-header
      h1 Oticon
    section#main_content
      h3 eCaps Pro
      p Tech lead on the Oticon eCaps Pro application. A counselling tool for Oticon developed in Adobe AIR for desktop and iPad.

      h3 Technology and frameworks used
      ul.list-group
        li.list-group-item Flash & AS3
        li.list-group-item Adobe AIR packaged for iPad & desktop
        li.list-group-item TextLayout Framework
        li.list-group-item Greensock Animation Platform
        a.list-group-item(href="http://www.robotlegs.org/") Robotlegs Application Framework