extends ../layout/page-layout
block head
  title thebuilder | projects | pandora
block content
  .container
    .page-header
      h1 Pandora
    section#main_content
      p.
       I created a lot of campaigns for Pandora.net, aimed at getting girls talking about the products and sharing it.

      h3 A Universe of Charms
      p.
       This awesome campaign allowed you to dedicate a star to someone special, with a short message and a charm attached. It was very popular in the Pandora community and got a few thousand dedications.
      a.btn.btn-primary(href="projects/flash/pandora/bracelet/", target="_blank") Universe of Charms Demo

      h3 Valentines Kiss
      p.
       This valentines campaign lets you place a kiss on an image of someone special. You can select a Facebook friend, and it will attempt to find a picture with just the two of you. You can then position a kiss on it, and send it that special person.
      a.btn.btn-primary(href="projects/flash/pandora/kiss/", target="_blank") Valentines Kiss Demo

      h3 Necklace
      p.
       This campaign allows you to create your own necklace, by attaching different chains. There was a lot of calculations going on to create and animate these chains.
      a.btn.btn-primary(href="projects/flash/pandora/necklace/", target="_blank") Necklace Demo

      h3 Perfect Match
      p.
       I created this product selection wheel that loads Pandoras products and allows you to scroll through them. It has some sweet mouse over and selection effects.
      a.btn.btn-primary(href="projects/flash/pandora/perfectmatch/", target="_blank") Perfect Match Demo