extends ../layout/page-layout
block head
  title thebuilder | projects | volvo
block content
  .container
    .page-header
      h1 Volvo
    section#main_content
      h3 Rain Drops
      p.
        This campaign goes crazy with the Flash filter effects, to create rain drops sliding down screen. The raindrops provide a zoomed in view of the car, and you can slide them around to reveal other parts. When the drops collide, they merge to create an even bigger drop. All topped of with the beatiful soundscape, of standing in the rain watching the cars go by.
      iframe(width="891", height="427", src="projects/flash/volvo/index.html", frameborder="0")