extends ../layout/page-layout
block head
  title thebuilder | projects | oticon
block content
  .container
    .page-header
      h1 Oticon
    section#main_content
      h3 eCaps Pro
      p.
        The eCaps Pro solution replaces the analog brochures and sales materials, that advisors and sellers normally when advicing costumers. The solution supports a 1:1 customized and interactive dialogue with the end user and is designed for the direct advice of people with hearing loss for whom it is often a challenge to accept a hearing loss, and see the opportunities a hearing aid offers.

      p.text-center.top-margin
        img(src="projects/flash/images/oticon/intro-1.png")

      h3 Technology and frameworks used
      ul.list-group
        li.list-group-item Flash & AS3
        li.list-group-item Adobe AIR packaged for iPad & desktop
        li.list-group-item Greensock Animation Platform
        a.list-group-item(href="http://www.robotlegs.org/") Robotlegs Application Framework
        li.list-group-item Sitecore CMS
        li.list-group-item DigiZuite
        li.list-group-item Netminers

      p.text-center.top-margin
        img(src="projects/flash/images/oticon/wow-img1.png")
      //p.text-center.top-margin
      //  img(src="projects/flash/images/oticon/what-img1.png")
