extends ../layout/page-layout
block head
  title thebuilder | projects | pandora
block content
  .container
    .page-header
      h1 Pandora
    section#main_content
      p.
       I created a lot of campaigns for Pandora.net, aimed at getting girls talking about the products and sharing it.

      .row
        .col-sm-6.col-lg-3
          .thumbnail
            img(src="projects/flash/images/pandora/universe_thumb.jpg")
            .caption
              h3 A Universe of Charms
              p.
               This awesome campaign allowed you to dedicate a star to someone special, with a short message and a charm attached. It was very popular in the Pandora community and got a few thousand dedications.
              p
                a.btn.btn-primary.btn-block(href="projects/flash/pandora/bracelet/", target="_blank") Demo
        .col-sm-6.col-lg-3
          .thumbnail
            img(src="projects/flash/images/pandora/kiss_thumb.jpg")
            .caption
              h3 Valentines Kiss
              p.
               This valentines campaign lets you place a kiss on an image of someone special. You can select a Facebook friend, and it will attempt to find a picture with just the two of you. You can then position a kiss on it, and send it that special person.
              p
                a.btn.btn-primary.btn-block(href="projects/flash/pandora/kiss/", target="_blank") Demo
        .col-sm-6.col-lg-3
          .thumbnail
            img(src="projects/flash/images/pandora/necklace_thumb.jpg")
            .caption
              h3 Necklace
              p.
               This campaign allows you to create your own necklace, by attaching different chains. There was a lot of calculations going on to create and animate these chains.
              p
                a.btn.btn-primary.btn-block(href="projects/flash/pandora/necklace/", target="_blank") Demo
        .col-sm-6.col-lg-3
          .thumbnail
            img(src="projects/flash/images/pandora/perfectmatch_thumb.jpg")
            .caption
              h3 Perfect Match
              p.
               I created this product selection wheel that loads Pandoras products and allows you to scroll through them. It has some sweet mouse over and selection effects.
              p
                a.btn.btn-primary.btn-block(href="projects/flash/pandora/perfectmatch/", target="_blank") Demo


