extends ../layout/page-layout
block head
  title thebuilder | projects | digitaliseringsmessen
block content
  .container
    .page-header
      h1 Digitaliseringsmessen'13
    section#main_content
      p.
      include  ../partials/carousel
      +carousel("digi-gallery", data.digi.gallery, "320px")