extends ../layout/page-layout
block head
  title thebuilder | projects | electrolux art home
block content
  .container
    .page-header
      h1 Electrolux Art Home
    section#main_content
      h3 The Project
      p.
        For Electrolux i created a countdown page their Art Home project. It mixes in some sweet thread animation with 3d boxes, video and sound to create a sweet teaser page.
          Because it's an old countdown it will just write "Zero days" etc. if you view it now.

      img(src="projects/flash/images/electrolux/arthome.jpg", class="img-responsive")
      a.btn.btn-primary.top-margin(href="projects/flash/electrothread/", target="_blank") Art Home Teaser Demo