footer
  hr
  .container
    ul
      li
        a(href="https://www.linkedin.com/profile/view?id=13146747", target="_blank") LinkedIn profile
    ul
      li
        a(href="https://github.com/thebuilder/", target="_blank") View on Github