footer.navbar.navbar-default
  .container-fluid
    .navbar-right
      ul.nav.navbar-nav
        -each contact in contacts
          li
            a(href=contact.link, title=contact.title, target="_blank")
              i(class="fa fa-"+ contact.id)
      p.navbar-text 2014 © Daniel Schmidt

